# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
coverage/

# IDE
.idea/
.vscode/
*.iml

# Local signing secrets
android/key.properties
android/app/*.jks
android/app/*.keystore

# OS
.DS_Store
Thumbs.db
